USE [CRCMS_new]
GO
/****** Object:  Table [dbo].[Area]    Script Date: 10/19/2017 11:40:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Area](
	[AreaId] [int] IDENTITY(1,1) NOT NULL,
	[TypeArea] [int] NULL,
	[Name] [nvarchar](500) NULL,
	[ParentId] [int] NULL,
	[NoSplit] [bit] NULL,
	[AssemblyArea] [bit] NULL,
	[FullName] [nvarchar](500) NULL,
	[MultipleOrders] [bit] NULL,
	[HiddenArea] [bit] NULL,
	[IP] [varchar](5000) NULL,
	[PavilionId] [int] NOT NULL,
	[TypeId] [int] NOT NULL,
	[OrderExecution] [int] NULL,
	[Dependence] [int] NULL,
	[WorkingPeople] [int] NULL,
	[ComponentTypeId] [int] NULL,
	[GroupId] [int] NULL CONSTRAINT [DF_Area_GroupId]  DEFAULT ((0)),
	[Segment] [int] NULL,
 CONSTRAINT [PK_Area] PRIMARY KEY CLUSTERED 
(
	[AreaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Area] ON 

INSERT [dbo].[Area] ([AreaId], [TypeArea], [Name], [ParentId], [NoSplit], [AssemblyArea], [FullName], [MultipleOrders], [HiddenArea], [IP], [PavilionId], [TypeId], [OrderExecution], [Dependence], [WorkingPeople], [ComponentTypeId], [GroupId], [Segment]) VALUES (2, 0, N'Engine Disassembly', 0, NULL, 0, N'Engine Disassembly', NULL, NULL, N'', 1, 0, 0, 1, 1, 3, 2, 3000)
INSERT [dbo].[Area] ([AreaId], [TypeArea], [Name], [ParentId], [NoSplit], [AssemblyArea], [FullName], [MultipleOrders], [HiddenArea], [IP], [PavilionId], [TypeId], [OrderExecution], [Dependence], [WorkingPeople], [ComponentTypeId], [GroupId], [Segment]) VALUES (3, 0, N'№1 Engine disassembly', 2, NULL, 0, N'№1 Engine disassembly', NULL, NULL, N'10.53.34.61', 1, 0, 0, 1, 3, 999, 2, 3000)
INSERT [dbo].[Area] ([AreaId], [TypeArea], [Name], [ParentId], [NoSplit], [AssemblyArea], [FullName], [MultipleOrders], [HiddenArea], [IP], [PavilionId], [TypeId], [OrderExecution], [Dependence], [WorkingPeople], [ComponentTypeId], [GroupId], [Segment]) VALUES (4, 0, N'№2 Engine Disassembly', 2, NULL, 0, N'№2 Engine disassembly', NULL, NULL, N'10.53.34.60', 1, 0, 0, 1, 3, 999, 2, 3000)
SET IDENTITY_INSERT [dbo].[Area] OFF
